{% extends './base.html' %}

{% block content %}
    <br>
    <div class="card">
        <h5 class="card-header">
            Repositórios Encontrados com base na Popularidade (Stars!)
        </h5>
    </div>
    <hr>
    {% if dict_repo1 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Linguagem</th>
                <th scope="col">Qtde de Repositórios</th>
            </tr>
        </thead>
        <tbody>
            {% for linguagem, contagem in dict_repo1.items %}
                <tr class="table-active">
                    <td>{{ linguagem }}</td>
                    <td>{{ contagem }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h6>Busca não retornou resultados!</h6>
    {% endif %}


<a href="{% url 'srchdstk:index' %}" class="btn btn-info" role="button">Volte para Home e veja os detalhes!</a>

{% endblock %}

