{% extends './base.html' %}

{% block content %}
    <br>
    <div class="card">
        <h6 class="card-header">
            Detalhes do repósitorio destaque da linguagem:<strong> <a href="{% url 'srchdstk:detalheLing' repo.linguagem.id %}">{{ repo.linguagem.linguagem_nome }}</a> </strong>pesquisado em: <a href="{% url 'srchdstk:detalheBusca' repo.busca.id %}">{{ repo.busca.data_busca }}</a>
        </h6>
    </div>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>Item</th><th>Conteúdo</th>
            </tr>
        </thead>
        <tbody>
            <tr><th>ID</th><td>{{ repo.repo_id }}</td></tr>
            <tr><th>Name</th><td>{{ repo.repo_name }}</td></tr>
            <tr><th>Full_name</th><td>{{ repo.repo_full_name }}</td></tr>
            <tr><th>URL</th><td><a target="_blank" href={{ repo.repo_url }}>{{ repo.repo_url }}</a></td></tr>
            <tr><th>Description</th><td>{{ repo.repo_description }}</td></tr>
            <tr><th>Language</th><td>{{ repo.repo_language }}</td></tr>
            <tr><th>Stars</th><td>{{ repo.repo_stargazers_count }}</td></tr>
        </tbody>

    </table>
{% endblock %}