{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Busca Destaques do GitHub{% endblock %}

{% block bootstrap4_content %}
    <div class="container">
        <h1>Últimas pesquisas por Linguagem:</h1>
        {% for y1 in lista_repos %}
            {% ifchanged y1.linguagem.linguagem_nome %}
                <h2><a href="{% url 'srchdstk:detalheLing' y1.linguagem.id %}">{{ y1.linguagem.linguagem_nome }}</a></h2>
            {% endifchanged %}
            {% ifchanged y1.busca.id %}
                <h3><a href="{% url 'srchdstk:detalheBusca' y1.busca.id %}">{{ y1.busca.data_busca }}</a></h3>
            {% endifchanged %}
            <h4>{{ y1.id }} - {{ y1.repo_url }}</h4>
        {% endfor %}
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form >
        {% csrf_token %}
        {% buttons %}
            <button type="submit" value="buscaRepos" class="btn btn-primary">Aperte aqui!</button>
        {% endbuttons %}
    </form>
{% endblock %}