{% extends './base.html' %}
{% load humanize %}
{% block content %}
    <br>
    <div class="card">
        <h5 class="card-header">
            Confirma exclusão da linguagem "{{ object }}"?
        </h5>
        <h6 class="aviso">Atenção: As buscas realizadas para esta linguagem também serão excluídas!</h6>
    </div>
    <hr>

    <form method="post">{% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Confirmar" />
        <a href="{% url 'srchdstk:linguagem-list' %}" class="btn btn-secondary" role="button">Cancelar</a>
    </form>

{% endblock %}